/artifacts/
/coverage/
/coverage.json
/deployments/localhost/
/deployments/*/solcInputs/
/docs/
/types/

.openzeppelin/unknown-*
.vscode/
cache/
node_modules/
.DS_Store
.env
lcov.info
*.log
*.code-workspace
.*-version*
