/artifacts/
/broadcast/
/coverage/
/coverage.json
/docs/
/lcov.info
/target/
/types/
/sim/bindings/

.openzeppelin/unknown-*
.vscode/
cache/
node_modules/
.DS_Store
.env
*.log
*.code-workspace
.*-version*
*.tgz
