/artifacts/
/coverage/
/coverage.json
/deployments/localhost/
/deployments/*/solcInputs/
/docs/
/lcov.info
/types/

.openzeppelin/unknown-*
.vscode/
cache/
crytic-export/
node_modules/
.DS_Store
.env
*.log
*.code-workspace
.*-version*
