docutils
sphinx==3.5.2
matplotlib
sphinx-a4doc
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-plantuml==0.22
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinxcontrib-soliditydomain
